body{
    display: flex;
    background-color: rgb(241, 236, 229);
    text-align: center;
    justify-content: center;
    
    

}


.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    
    

}
  